@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var theme = HttpContextAccessor.HttpContext?.Session.GetString("Theme") ?? "light";
}

<!DOCTYPE html>
<html lang="ru" data-theme="@theme">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PracticeMonitoring.Web</title>

    <link href="~/css/Variables.css" rel="stylesheet" />
    <link href="~/css/Layout.css" rel="stylesheet" />
    <link href="~/css/Account.css" rel="stylesheet" />
    <link href="~/css/Student.css" rel="stylesheet" />
    <link href="~/css/Admin.css" rel="stylesheet" />
    <link href="~/css/DepartmentStaff.css" rel="stylesheet" />
    <link href="~/css/Messaging.css" rel="stylesheet" />
</head>
<body>
    <header>
        <img class="logo_reu" src="~/img/logoSVGwhiteWord.svg" alt="logo_REU" />
    </header>

    <main class="page-content">
        @RenderBody()
    </main>

    <script>
        window.apiBaseUrl = "@Configuration["ApiSettings:BaseUrl"]";
    </script>

    <script src="~/js/messaging.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

